.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.modalmain {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modalmain button{
  background-color: rgb(7, 77, 34);
  color: #ffffff;
  border: transparent;
}
.displayblock {
    display: block;
  }
  
.displaynone {
    display: none;
  }

.showmodal{
  border-radius: 4px;
  background-color: rgb(7, 77, 34);
  border: transparent;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  box-sizing: border-box;

}
.botaoAmostras {

  text-align: center;
  box-sizing: border-box;


}
@media(min-width:701px){
  .pequeno{
    display: none;
    
  }
}
@media(max-width: 700px){
  .grande{
    display: none;

  }
  .pequeno{
    display: inline-block;
    font-weight: bold;
    border-radius: 2rem;
    font-size: 1.5rem;
    border-top: 4%;
    min-height: 2rem;
    min-width: 2rem;
    padding: 0 .5rem;
  }
}

