.container {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .columnContainer {
    display: flex;
    height: 100%;
  }
  
  .leftContainer {
    height: 100%;
    flex: 2;
  }
  
  .rightContainer {
    flex: 1;
    height: 100%;
  }
  