.mount-point {
padding: 10%;
  
}

.input {
  line-height: 2;
  font-size: 1.2rem;
  width: 100%;
  padding-left: 1rem;
  box-sizing: border-box;
}

.ul {
  padding: 0;
  width: inherit;
  margin:0;
  margin-top: 1rem;
  position: absolute;
  max-height: 70.6%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-right-color: transparent;
  width: 26.5%;
  z-index: -1;
}

.li {
  list-style: none;
  border-top: 1px solid #ccc;
  margin-top: -1px;
  line-height: 2;
  padding: .5rem;
  background: white;
}