.mount-point {
padding: 5% 10%;
}

.input {
  margin: 1rem 0;
  line-height: 2;
  font-size: 1.2rem;
  width: 100%;
  padding-left: 1rem;
  box-sizing: border-box;
}

.input:focus{
  border-color: rgb(7, 77, 34);
  border-width: .10em;
  border-style: solid;
  outline: none;
}

.ul {
  padding: 0;
  margin:0;
  border: 1px solid #ccc;
  border-right: 0px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 68vh;

}

.li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin: 0;
  line-height: 2;
  padding: .5rem;
  background: white;
  width: 100%;
  box-sizing: border-box;
}

.li:hover{
  background-color: #D3D3D3;
}

.fontAmostras {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: lighter;
  font-variant: inherit;
}
